<section class="how-ai-helped">
  <div class="bg"></div>
  <div class="container">
    <div class="row">
      <div class="how-ai-helped_data_text text-center m-auto">
        <h1 class="how-ai-helped__title">How we have helped</h1>
        <h3>See how Al Foundation have promoted change locally and to the world </h3>
      </div>
    </div>
          <div class="row squares-container">
            <div class="squared-shap">
              <div class="squared-content">
                <i><img src="../assets/images/icons/pin.png"></i>
                <p>
                  Find Place
                </p>
                <p>+</p>

              </div>
            </div>
            <div class="squared-shap">
              <div class="squared-content">
                <i><img src="../assets/images/icons/Show-Hide password.png"></i>
                <p>
                  A’awen
                </p>
                <p>+</p>

              </div>
            </div>
            <div class="squared-shap">
              <div class="squared-content">
                <i><img src="../assets/images/icons/info.png"></i>
                <p>
                  Omniyat
                </p>
                <p>+</p>

              </div>

            </div>
            <div class="squared-shap">
              <div class="squared-content">
                <i><img src="../assets/images/icons/surface1.png"></i>
                <p>
                  Give Time
                </p>
                <p>+</p>
              </div>
            </div>
            <div class="squared-shap">
              <div class="squared-content">
                <i><img src="../assets/images/icons/arrow (2).png"></i>
                <p>
                  Tofoula
                </p>
                <p>+</p>

              </div>

            </div>
            <div class="squared-shap">
              <div class="squared-content">
                <i><img src="../assets/images/icons/Path 51794.png"></i>
                <p>
                  Fundraising
                </p>
                <p>+</p>

              </div>
            </div>
            <div class="squared-shap">
              <div class="squared-content">
                <i><img src="../assets/images/icons/noun_services_2097593.png"></i>
                <p>
                  Zakat
                </p>
                <p>+</p>

              </div>

            </div>
      </div>

  </div>
</section>
