<div class="container">
  <div class="row">

    <section class="news-listing ">
      <div class="row py-3">
        <h1> News</h1>
      </div>
      <div class="row" >
        <div class="col-md-4 post" *ngFor='let post of posts.articles '>
          <div class="post_container">
            <div class="post_img">
              <img [src]="post.urlToImage" alt="">
            </div>
            <div class="post_interactions">
              <p>Show on Homepage {{post.showOnHomepage}}</p>
            </div>
            <div class="post_title">
                <a href="">
                  <h5>
                    {{post.title}}
                  </h5>

                </a>
            </div>
            <div class="post_tag">
              <span>News</span>
            </div>
            <div class="post_content">
              <p>
                {{post.content}}
              </p>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- <app-news-listing></app-news-listing> -->
  </div>
</div>
