.news-details {
  .post-coverImg {
    img{
      width: 100%;
      height: 467px;
      object-fit: cover;
      max-width: 100%;
    }
  }
  .post-data {
    h1 {
      font-size: 37px;
      font-weight: bold;
    }
  }
  .breadcrumb {
    background: none;
    .breadcrumb-item {
      &:first-child {
        &::after {
          content: " > " !important;

        }

      }
      &:nth-child(2) {
        &::before {
          content: "" !important;

        }

      }

    }
    .breadcrumb-item.active {

        &::before {
          content: ">" !important;

        }


    }
  }

}
