.news-listing {
  .news-listing_title {
    font-size:42px;
    font-weight: 600;
  }
}
.redirect-link {
  span {
    a {
      color: #13BEFF;
      font-size: 20px;
      &:hover {
        text-decoration: none;
        // font-weight: bold;
      }
    }
  }
}

.post {
  display: flex;
  margin-bottom: 2.5rem;
  .post_container {
    box-shadow: 1px 0px 7px 0px rgb(0 0 0 / 40%);
    border-radius: 5px;

}


  .post_img {

    img{
      width: 100%;
      height: 220px;
      object-fit: cover;
      max-width: 100%;
    }
    }
    .post_interactions {
      a {
        i {
          font-size: 24px;
          color: #13BEFF;
        }

      }
    }
    .post_title {
      margin-top: 1rem;
      padding: 0 1rem;
      a {
        h5 {
          color: #000;
          font-family: 'Open Sans',sans-serif;
          font-size: 26px;
          font-weight: 600;

        }
        &:hover{
          text-decoration: none;
        }
      }
    }
    .post_tag {
      background:rgba(116,116,116,0.2);
      border-radius: 6px;
      text-align: center;
      width: 100px;
      margin:0.5rem 1rem;
      padding: 5px;

    }
    .post_content {
      padding: 0 1rem;
      margin-bottom: 6rem;
    }

    .post_date {
      padding: 0 1rem;
      margin-top:3rem ;
      margin-bottom:3rem ;
      position: absolute;
      bottom: 0;
      // margin-bottom: 2rem;
      span {
        i {
          font-size: 24px;
          color: #13BEFF;

        }
      }
      .post_date__published {
        color: #707070;
        font-size: 16px;
      }
    }
}

@media only screen and (max-width:768px) {
  .news-listing {
    .news-listing_title {
      font-size: 32px;
    }
  }
  }
