<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let image of ImgObject" [ngStyle]="{'background-image': 'url(' + image.src + ')'}"></div>
      <div class="container">
        <div class="row text-center m-4">
          <div class="slider-text">
            <h1>
              AI Foundation
            </h1>
            <h3>
              is focused on inspiring the next generation of  kids Healthcare professionals.
            </h3>

            <button class="btn btn-primary py-2 px-3 mt-4">Donate Now</button>
          </div>

        </div>
      </div>
  </div>

  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>

  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
