<footer class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li><a href="#">News</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Complains</a></li>
        </ul>

      </div>
      <div class="col-md-3">
        <form action="">
          <p>
            <label for="">Subscribe to Newsletter</label>

          </p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email Address">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 text-center">
        <p>
          Follow us on
        </p>
        <ul class="footer_social-links">
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>
<section class="copyRights text-center p-2">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="copyRights text-center">
        <p class="mb-0">
          All rights reserved - Link Development Company © 2020
        </p>
      </div>
    </div>
  </div>
</section>
